{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ratable</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/colors.css' %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{% static 'js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/loaders/blockui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/create.js' %}"></script>

    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'js/plugins/visualization/d3/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/styling/switchery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/ui/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/pickers/daterangepicker.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/core/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pages/dashboard.js' %}"></script>
    <!-- /theme JS files -->

</head>

<body>

    <!-- Main navbar -->
    {% include 'navbar.html' %}
    <!-- /main navbar -->


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            {% include 'sidebar.html' %}
            <!-- /main sidebar -->


            <!-- Main content -->
            <div class="container-fluid" style="padding-top: 70px;">
                <div class="content-wrapper">
                    {% block content %}
                    <!-- Content area -->
                    <div class="content ">


                        <!-- Dashboard content -->
                        <div class="row ">
                            <div class="col-lg-8 ">

                                <!-- Quick stats boxes -->
                                <div class="row ">
                                    <div class="col-lg-4 ">

                                        <!-- Members online -->
                                        <div class="panel bg-teal-400 ">
                                            <div class="panel-body ">
                                                <div class="heading-elements ">
                                                    <span class="heading-text badge bg-teal-800 ">+53,6%</span>
                                                </div>

                                                <h3 class="no-margin ">3,450</h3>
                                                Members online
                                                <div class="text-muted text-size-small ">489 avg</div>
                                            </div>

                                            <div class="container-fluid ">
                                                <div id="members-online "></div>
                                            </div>
                                        </div>
                                        <!-- /members online -->

                                    </div>

                                    <div class="col-lg-4 ">

                                        <!-- Current server load -->
                                        <div class="panel bg-pink-400 ">
                                            <div class="panel-body ">
                                                <div class="heading-elements ">
                                                    <ul class="icons-list ">
                                                        <li class="dropdown ">
                                                            <a href="index.html# " class="dropdown-toggle " data-toggle="dropdown "><i class="icon-cog3 "></i> <span class="caret "></span></a>
                                                            <ul class="dropdown-menu dropdown-menu-right ">
                                                                <li><a href="index.html# "><i class="icon-sync "></i> Update data</a></li>
                                                                <li><a href="index.html# "><i class="icon-list-unordered "></i> Detailed log</a></li>
                                                                <li><a href="index.html# "><i class="icon-pie5 "></i> Statistics</a></li>
                                                                <li><a href="index.html# "><i class="icon-cross3 "></i> Clear list</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <h3 class="no-margin ">49.4%</h3>
                                                Current server load
                                                <div class="text-muted text-size-small ">34.6% avg</div>
                                            </div>

                                            <div id="server-load "></div>
                                        </div>
                                        <!-- /current server load -->

                                    </div>

                                    <div class="col-lg-4 ">

                                        <!-- Today's revenue -->
                                        <div class="panel bg-blue-400 ">
                                            <div class="panel-body ">
                                                <div class="heading-elements ">
                                                    <ul class="icons-list ">
                                                        <li>
                                                            <a data-action="reload "></a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <h3 class="no-margin ">$18,390</h3>
                                                Today's revenue
                                                <div class="text-muted text-size-small ">$37,578 avg</div>
                                            </div>

                                            <div id="today-revenue "></div>
                                        </div>
                                        <!-- /today's revenue -->

                                    </div>
                                </div>
                                <!-- /quick stats boxes -->

                            </div>
                        </div>
                        <!-- /dashboard content -->


                    </div>
                    <!-- /content area -->
                    {% endblock %}
                </div>
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>

</html>