{% load static %}
<div class="sidebar sidebar-main sidebar-fixed" role="navigation">
    <div class="sidebar-content">

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header"><span></span> <i class="icon-menu" title="Main pages"></i></li>
                    <li class="active"><a href="  "><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                    <li><a href="  "><i class="icon-tree6"></i> <span>Departments</span></a></li>
                    <li><a href="  "><i class="fa fa-heartbeat"></i> <span>Patients</span></a></li>
                    <li><a href="  "><i class="icon-clipboard6 "></i> <span>Triage</span></a></li>
                    <li><a href="  "><i class="fa fa-user-md"></i> <span>Doctors</span></a></li>
                    <li><a href="  "><i class="fa fa-eyedropper"></i> <span>Laboratory</span></a></li>
                    <li>
                        <a href="  "><i class="fa fa-medkit"></i> <span>Pharmacy</span></a>
                        <ul>
                            <li><a href="">Medicine</a></li>
                            <li><a href="">Sell</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="icon-users "></i> <span>Staff</span></a>
                        <ul>
                            <li><a href="">Groups</a></li>
                            <li><a href="">Users</a></li>
                            <li><a href="">Audit trail</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="icon-graph "></i> <span>Reports</span></a>
                        <ul>
                            <li><a href="colors_primary.html ">Users reports</a></li>
                            <li><a href="colors_danger.html ">Department reports</a></li>

                        </ul>
                    </li>
                    <!-- /main -->

                </ul>
            </div>
        </div>

        <!-- /main navigation -->

    </div>
</div>