{% extends 'base.html' %} {% load static %} {% load bootstrap4 %}
<!-- content -->
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <!-- Create group form -->
    {% csrf_token %} {% bootstrap_form form %}
    <input class="btn btn-primary" type="submit" value="Save">
    <!-- Looping through -->

    <!-- To delete -->
    <!-- <p>**************************************</p>
    <hr>
    <p>**************************************</p>

    {% regroup perms by perms.content_type.model as perm_list %}
    <ul>
        {% for perm in perm_list %}
        <li>{{ perm.grouper }}
            <ul>
                {% for p in perms %}
                <li>{{ p.name }}: {{ p.codename }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul> -->
    <!-- To delete -->

</form>
{% endblock %}