{% extends 'base.html' %} {% load static %}
<!-- content -->
{% block content %}
<a href=" {% url 'create_group' %} ">
    <button class="btn btn-primary"><i class="fa fa-plus"> Add Group</i></button>
    <!-- <input class="btn btn-primary" type="button" value="Add Group"> -->
</a>
<ul>


    <div class="wrapper">
        {% for group in object_list %}
        <input id='{{group.id}}' type='checkbox'>
        <label for='{{group.id}}'>
        <span>{{ group.name }}</span>
    </label> {% empty %}
        <p class="text-center">No Groups Yet</p>
        {% endfor %}
    </div>

</ul>
{% endblock %}
<!-- {% for department in departments %}
<input id='{{department.id}}' type='checkbox'>
<label for='{{department.id}}'>
                    <div>
                        <span>{{ department.name }}</span>
                        <div class="circle"></div>
                    </div>
                    <p>{{ department.description }}</p>
                    
                  </label> {% empty %}
        <div class="text-center">No Departments Yet</div>
        {% endfor %} -->